@import "tailwindcss";

@keyframes rgb-split {
  0%,
  100% {
    text-shadow: -1px 0 red, 1px 0 cyan;
  }
  33% {
    text-shadow: -1px 0 cyan, 1px 0 yellow;
  }
  66% {
    text-shadow: -1px 0 yellow, 1px 0 magenta;
  }
}

.live-link:hover {
  color: white;
  animation: rgb-split 0.6s ease-in-out infinite;
}
      